body{
    background:rgb(107, 107, 241);
    font: normal 1Spt Arial;
}

header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39); /*Deslocamento lateral, deslocamento vertical, pixel de espalhamento, cor da sombra*/
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#foto{
    margin: auto;
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 100%;
}

#horas{
    font: bold 68px Arial;
    text-align: center;
}